* {
    margin: 0;
    padding: 0;
}

:root {
    /* Design Tokens */
    --color-accent: rgb(140, 140, 140);
    --color-background-page: rgb(58, 72, 82);
    --color-text-dark: rgb(0, 0, 0);
    --color-text-light: rgb(255, 255, 255);
}

body {
    background-color: var(--color-background-page);
    color: var(--color-text-light);
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden; /* prevent viewport scroll */
}

.main{
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.header{
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.header > h1{
    font-size: 2rem;
    text-decoration: underline;
}

.form-container {
    background-color: var(--color-accent);
    padding: 2rem;
    max-width: 40rem;
    width: 100%;
    border-radius: 1rem;
    font-size: 1.2rem;
}

.content{
    padding: 1em;
    display: flex;
    flex: 1 1 auto; /* flexible size */
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 1rem;
}
.post{

    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--color-accent);
    gap: 1rem;
    padding : 1rem;
    flex-wrap: wrap;
    min-width: 35rem;
    max-width: 45rem;
}

.user{
    display: flex;
    gap : 0.5rem;
    justify-content: center;
    align-items: center;
    border-bottom-style: solid;
    padding: 0.2rem ;
    align-self: self-start;
}
.user > .username {
    font-size: 1rem;
}
.user > img{
    max-width: 8rem;
    max-height: 2rem;
}

.post-images{
    display: flex;
    gap: 1.5rem;    flex-wrap: wrap;
    max-width: 100%;

}

.post-images > img {
    width: 8rem;
    height: 8rem;
    object-fit: cover;
}

nav{
    background-color: black;
}

.navigation {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    min-height: 4rem;
}

.navigation > ul{
    display: flex;
    margin: 0.5rem;
    gap: 2em;
    justify-content: space-evenly;
    max-width: 50em;
    width: 100%;
}

.navigation > ul > li > a {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.navigation > ul > li > a > p{
    text-align: center;
}

a {
   text-decoration: none; 
   color: var(--color-text-light)
}

ul {
    list-style-type: none;
}

img{
    max-width: 100%;
    min-width: 2rem;
    height: auto;
}